*{
    /* margin: 0 !important;
    padding: 0 !important; */
    color: unset ;
}
p{
    font-weight: bold;
}
.centered{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered-horizontally{
    top: 50%;
    transform: translateY(-50%);
}
.pt-60{
    padding-top: 60px;
}
.main-padding{
    padding: 600px;
}
.cursor-pointer{
    cursor: pointer;
}
.br-46{
    border-radius: 46px;
}
.br-23{
    border-radius: 23px;
}
header{
    height: 99px;
    background: #F5F5F5;
    position: fixed;
    z-index: 144;
}

.header-logo{
    height: 99px;
}

.header-title{
    font-size: 35px;
}
.header-description{
    font-size: 18px;
}
.navbar .nav-link{
    font-size: 26px !important;
}
.txt-graysh{
    color:#F6F6F6 !important;
}
.txt-bluish{
    color: #4D5A89 !important;
}
.bg-dark-blue{
    background: #274151 !important;
}
.bg-darker-blue{
    background: #122C3C !important;
}
.bg-greysh{
    background: #F6F6F6 !important;
}
.section-img{
    z-index: -12;
    height: 452px;
}
.header-section{
    height: 452px;
}
.section-img{
    background-image: url('../img/main-image.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.modal{
    z-index: 1999;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.74);
    z-index: 1999;
    transition: ease-in-out 0.5s;
    display: none;
}
.dot-windmill, .dot-windmill-big {
    position: absolute;
    top: 50%;
    left: 50%;
}
thead th{
    white-space: nowrap;
}
.rounded-table-header, .rounded-table-row{
    background: #274151 !important;
    color: white !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
.rounded-table-heading-left{
    border-top-left-radius: 15px !important;
}
.rounded-table-heading-right{
    border-top-right-radius: 15px !important;
}
.rounded-table-row > th , .single-branch > td {
    padding: 0.8em !important;
}
/* about */
.pt-106{
    padding-top: 106px;
}
.logo{
    transform: translate(50%, -50%);
    width: 249px;
}
.section-header{
    font-size: 28px;
}
.section-desc{
    font-size: 16px;
}

.section-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .section-text{
        top: 40px;
        left: inherit;
        transform: inherit;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(39, 65, 81, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: #274151;
}

.navbar-collapse {
    opacity: 1;
    background: #F5F5F5;
    border-radius: 6px;
}

.navbar-collapse .nav-item {
    margin-left: 10px;
}

.info-single img{
    width: 20px;
}
.white-space-nowrap{
    white-space: nowrap;
}
thead{
    font-size: 13px;
}
tbody{
    font-size: 12px;
}
/* Responsives */
@media (max-width:1920px){
    header{
        height: 80px;
    }
    .header-logo{
        height: 80px;
    }
    .pt-106{
        padding-top: 80px;
    }
    .navbar .nav-link{
        font-size: 22px !important;
    }
}
@media (max-width:1600px){
    .logo{
        width: 200px;
    }    
}
@media (max-width:1440px){
    header{
        height: 60px;
    }
    .header-logo{
        height: 60px;
    }
    .pt-106{
        padding-top: 60px;
    }
    .navbar .nav-link{
        font-size: 16px !important;
    }
    .logo{
        width: 140px;
    }
    thead{
        font-size: 11px;
    }
    tbody{
        font-size: 10px;
    }
}
@media (max-width:1200px){
    /* thead {
        float: left;
    }
    thead th, tbody td {
        display: block;
    }
    tbody {
        float: right;
    } */
    thead{
        font-size: 9px;
    }
    tbody{
        font-size: 8px;
    }    
}
@media (max-width:991px){
    table{
        display: flex;
        justify-content:start;
        overflow-x: scroll;
        border-radius: 14px;        
    }
    thead{
        display: flex;
        flex-direction: row;
        font-size: 14px;
    }
    thead tr{
        display: flex;
        flex-direction: column;
    }
    tbody{
        display: flex;
        flex-direction: row;
        font-size: 14px;
    }
    tbody tr{
        display: flex;
        flex-direction: column;
    }
    td, th{
        height: 70px !important;
    }
    .rounded-table-row > th , td {
        padding: 0.3em !important;
    }
    .rounded-table-header,.rounded-table-heading-right,  .rounded-table-heading-left, .rounded-table-row{
        border-radius: unset !important;
    }
    /* .header-section{
        height: 900px;
    }    */
}
@media (max-width:576px){}
